@import "tailwindcss";
@import "tw-animate-css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

/* body {
  font-family: var(--font-switzer);
} */

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0062ff;
  --secondary: #757575;
  --border: #a8a8ac;
  --line: #d5d5d8;
  --dash-gray: #f9fafb;
  font-family: var(--font-nunito-sans), system-ui, sans-serif;
  --ring: #89898f;
  --bg-container: #191919;
  --input: #2e3c65;
  --hover: #dfdfdf;
  --card: #1b2440;
  --video-box: #151e37;
  --muted: #f3f4f6;
  --muted-foreground: #575656;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(96, 115, 159, 0.05);
  --shadow-md: 0 4px 6px rgba(96, 115, 159, 0.1);
  --shadow-lg: 0 10px 15px rgba(96, 115, 159, 0.15);
  --shadow-xl: 0 20px 25px rgba(96, 115, 159, 0.2);

  --icon: #99a1af;
}

.dark {
  --background: #000826;
  --foreground: #ffffff;
  --primary: #0062ff;
  --line: #0062ff;
  --hover: #2e3255;
  --dash-gray: #051a46;

  --bg-container: #191919;
  --input: #2e3c65;
  --card: #1b2440;
  --video-box: #151e37;
  --border: #a8a8ac;
  --ring: #89898f;

  /* Muted */
  --muted: #f3f4f6;
  --muted-foreground: #a8a5a5;
  /* Icon */
  --icon: #d3d5d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dash-gray: var(--dash-gray);
  --color-secondary: var(--secondary);
  --color-input: var(--input);
  --color-card: var(--card);
  --color-line: var(--line);
  --color-video-box: var(--video-box);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-hover: var(--hover);
  --color-muted: var(--muted);
  --color-shadow-sm: var(--shadow-sm);
  --color-muted-foreground: var(--muted-foreground);
  --color-icon: var(--icon);
  --font-sans: var(--font-nunito-sans);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, , sans-serif; */
  max-width: 100%;
  overflow-x: hidden;
  @apply font-sans;
}

/* .image-show {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */

.event-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
